.indumentaria, .electronica,  .farmacia, p {
  color: #FFF;
  font-size: 25px;
  margin: 5px;
  
}

img {
  height: 100%;
  width: 30rem;
  border-radius: 25px;
}

.indumentaria {
  width: 20rem;
}

.btnAdd {
  font-size: 1rem;
  color: #FFF;
  width: 8rem;
  height: 4rem;
  background-color: transparent;
  border-radius: 10px;
}

.btnComprar:hover {
  background-color: rgb(115, 181, 189);
  color: #FFF;
}